* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color:rgb(35 30 57);;
}
form {
    width: 350px;
    background-color: rgba(139, 132, 169, 0.057);
    margin: 50px auto;
    text-align: center;
}
img {
    border-radius: 50%;
    border: 6px solid skyblue;
    margin-top: 20px;
}
h2,h3,h4,p {
    color: white;
    margin-bottom: 10px;
}
h3 {
    font-size: small;
}
h4 {
    text-align: left;
    margin-left: 8px;
    margin-bottom: 2px;
}
button {
    background-color: aqua;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin-bottom: 10px;
}
span {
    color: white;
    margin-bottom: 10px;
    display: inline-flex;
    border: 1px solid rgba(116, 116, 230, 0.208);
    padding: 8px 8px;
    /* text-align: left; */
    /* display: flex; */
    justify-content: left;
}