:root {
    --primary_color: #E9713C;
    --bg_color: #fffaf8;
}

* {
    box-sizing: border-box;
}
/* background-color: #E9713C; */

body {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

section {
    padding: 40px 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    padding: 0 20px;
}

.get_started {
    background-color: var(--primary_color);
    padding: 6px 14px;
    border-radius: 20px;
    color: white;
    display: inline-block;
    margin-right: 10px;
}

.text-center {
    text-align: center;
}

.mt0 {
    margin-top: 0!important;
}
.mb0 {
    margin-bottom: 0!important;
}

.none {
    display: none;
}

header {
    padding: 10px 0;
    background-color: aliceblue;
    box-shadow: 0 2px 6px 0px rgb(225, 225, 225);
}

header .logo {
    color: #7A6960;
    font-size: 30px;
}

main .hero {
    background-color: var(--bg_color);
}

h1, h2, h3 {
    color: var(--primary_color);
}

main .about .info {
    display: flex;
    align-items: flex-start;
}

main .about .info span {
    display: inline-block;   
    width: 50px;
    height: 50px;
    background-color: var(--primary_color);
}

main .about .info div {
    flex: 1;
    margin-left: 10px;
}

main .about .info div h3 {
    margin: 0;
}


main .services {
    background-color: var(--bg_color);
}

main .services .boxes .box {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 85px 0px rgba(0, 0, 0, .1);
}
main .services .boxes .box img {
    width: 50px; 
}

main .portfolio .tabs {
    margin: 25px 0 15px 0;
}
main .portfolio .tabs span {
    margin: 0 5px;
}
main .portfolio .tabs span.active {
    color: var(--primary_color);
}

main .portfolio .boxes .box {
    height: 200px;
    background-image: url("https://picsum.photos/500");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .portfolio .boxes .box span {
    background-color: var(--primary_color);
    color: white;
    padding: 4px 8px;
    align-self: flex-start;
}
main .portfolio .boxes .box p {
    margin: 0;
    color: white;
}

main .portfolio .boxes .box span,
main .portfolio .boxes .box div,
main .portfolio .boxes .box p {
    display: none;
}
main .portfolio .boxes .box:hover span {
    display: inline-block;
}
main .portfolio .boxes .box:hover div,
main .portfolio .boxes .box:hover p {
    display: block;
}
